    *{
    margin: 0;padding:0;
border: none; outline: none;
box-sizing:border-box;
}

body{
    background-color: rgb(0, 238, 255);
}
.wrapper{
    width: 1000px;
    height: 800px;
    background: rgb(0, 243, 243);
     background: linear-gradient(180deg, rgba(131,58,180,1) 0%, rgba(111,151,206,1) 48%, rgba(69,252,198,1) 100%);
     position: relative;
    margin: 50px auto;
    border-radius: 50%;
    border:10px solid red;
}

input{
    position: absolute;
    border-radius: 50%;
    width: 90px;
    padding: 20px;
    text-align: center;
    font-weight: 700;
    color:rgb(0, 123, 255);
    background-color: rgb(26, 3, 72);
}

::placeholder{
    color: blue;
}

#left_1{
    width: 200px;
    font-size: 25px;
    padding: 45px;
    left: 39%;
    top: 3%;
}
#left_2{
    width: 200px;
    font-size: 25px;
    padding: 45px;
    left: 20%;
    top: 13%;
}
#left_3{
    width: 200px;
    font-size: 25px;
    padding: 45px;
    left: 58%;
    top: 13%;
}
#left_4{
    width: 200px;
    font-size: 25px;
    padding: 45px;
    left: 5%;
    top:30%;
}
#left_5{
    width: 200px;
    font-size: 25px;
    padding: 45px;
    left:75%;
    top:30%;
}
#left_6{
    width: 200px;
    font-size: 25px;
    padding: 45px;
    left: 77%;
    top:50%;
}
#right_1{
    width: 200px;
    font-size: 25px;
    padding: 45px;
    left: 3%;
    top:50%;
}
#right_2{
    width: 200px;
    font-size: 25px;
    padding: 45px;
    left: 11%;
    top:70%;
}
#right_3{
    width: 200px;
    font-size: 25px;
    padding: 45px;
    left: 69%;
    top:70%;
}
#right_4{
    width: 200px;
    font-size: 25px;
    padding: 45px;
    left: 30%;
    top:80%;
}
#right_5{
    width: 200px;
    font-size: 25px;
    padding: 45px;
    left: 52%;
    top:80%;
}

.btn{
    width: 200px;
    height: 150px;
    font-size: 25px;
    background-color: aquamarine;
   border-radius: 50%;
   font-size: 1.5rem ;
   color: red;
   font-weight: 700;
   letter-spacing: 2px;
   border: 2px solid purple;
   box-shadow: 5px 4px 5px gray;
   position: absolute;
   left: 37%;
   top: 40%;
}

#hashiv{
    font-size: 5rem;
    font-weight: 900;
    color: aquamarine;
    position: absolute;
    left: 43%;
    top:30%;
}

#ardyunq{
    font-size: 5rem;
    font-weight: 900;
    color: rebeccapurple;
    position: absolute;
    left: 32%;
    top:60%;
}


































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































